body {
    background: #6e2a9b;
    /* background: linear-gradient(90deg, rgba(110, 42, 155, 1) 0%, rgba(199, 87, 134, 1) 50%, rgba(237, 178, 83, 1) 100%); */
    /* background: linear-gradient(90deg, rgba(110, 42, 155, 1) 0%, rgb(70, 219, 214) 50%, rgba(237, 178, 83, 1) 100%); */
    background: linear-gradient(90deg, rgb(40, 6, 131) 0%, rgb(70, 219, 214) 50%, rgba(237, 178, 83, 1) 100%);
    padding:20px
}

.divider {
    display:grid;
    grid-template:75vh / 600px 450px;
    margin-top:50px
}

.input-container {
    width:95%;
    border-radius:20px;
    height:70vh;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background-color:rgba(255,255,255,0.1);
    border:2px solid #ffffff;
}

#h1 {
    color:white;
    /* text-shadow: 1px 1px 2px black; */
    /* text-shadow:rgb(32, 32, 32) 1px 2px 2px; */
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

#main {
    flex-direction:column
}

.options-container {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    align-items:center;
}

.select-box {
    display:flex;
    align-items: center;
    gap:5px;
    width:100%;
}

select {
    height:40px;
    background-color:rgba(255, 255, 255, 0.1);
    border:2px solid white;
    border-radius:10px;
    padding:4px 10px;
    color:white;
    width:inherit;
}

option {
    color:black
}

.textarea-container {
    display:flex;
    padding:20px;
    width:100%;
    height:100%;
    background-color:rgba(255, 255, 255, 0.2);
    border-radius:10px;
    flex-direction: column;
    justify-content:space-between;
}

textarea{
    border-radius:10px;
    border:none;
    height:45vh;
    padding:10px;
    width:100%;
}

textarea:focus, select:focus {
    outline: none;
}

button {
    background-color:#007bff;
    color: white;
    border:none;
    border-radius:10px;
    height:40px;
    padding-left:20px;
    padding-right:20px;
    transition: background-color 0.3s ease;
}
button:hover { background-color: #0056b3; }

.audio-player { 
    gap:10px;
    flex-direction:column;
    align-items:center;
    /* display: none; Initially hidden  */
}

@media (max-width:900px) {
    .divider {
        display:flex;
        flex-direction:column;
        gap:30px;
        align-items: center;
    }
    .input-container {
        width: 570px;
    }
}